<!-- <h2>Here will be form to ask questions</h2> -->
<h1>Ask your coach anything</h1>

<form action="/answer">
  <div class="input-group input-group-lg">
    <!-- name enables you to name each parameter corresponding to each input of the form. -->
    <input class="form-control" type="text" name="question_me">

    <div class="input-group-btn">
      <input class="btn btn-primary btn-lg" type="submit" value="Ask me anything?">
    </div>
  </div>
</form>


<!-- 1. write the <form></form>
2. action -> once submit -> url to be redirect (answer page)
3. input with question -> name="the same like in params!!!" -->

<!-- <h1>Questions#ask</h1> -->
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

